*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: "Poppins", serif;
}
.row1{
    display: flex;
    flex-direction: row;
    gap: 70%;
    padding: 30px;
    padding-bottom: 20px;
}

.row1 .menu1{
    display: none;
}
.row1 .menu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}

.row2{
    width: 100%;
}
.row2 img{
    width: 100%;
    padding: 20px;
}

.row3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    text-align: left;
}
.row3 h1{
    width:90%;
}
.row3 .text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.row3 p{
    font-size: 14px;
    color: hsl(236, 13%, 42%);
}
.row3 button{
    width: 30%;
    height: 40px;
    border: none;
    background-color: hsl(5, 85%, 63%);
}
.row3 button a{
    color: hsl(240, 100%, 5%);
    text-decoration: none;
    font-family: "Poppins";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 5px;
}

.row4{
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 10px;
    padding-top: 20px;
    gap: 30px;
}
.row4 .row4-row1 h2{
    color: hsl(35, 77%, 62%);
}
.row4 .row4-row2{
    border-bottom: 1px solid hsl(236, 13%, 42%);
    padding-bottom: 15px;
}
.row4 .row4-row2:nth-child(4){
    border: none;
}
.row4 .row4-row2{
    font-size: 14px;
}
.row4 .row4-row2 p{
    color: hsl(236, 13%, 42%);
    font-weight: 600;
    font-size: 13px;
}


.row5{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row5 .row5-row1{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10px;
}
.row5 .row5-row1 img{
    width: 100%;
}
.row5 .row5-row1 .text{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.row5 .row5-row1 span{
    color: hsl(5, 85%, 63%);
    font-weight: 700;
    font-size: 25px;
}
.row5 .row5-row1 h3{
    font-size: 14px;
}
.row5 .row5-row1 p{
    font-size: 12px;
    color: hsl(236, 13%, 42%);
}



@media screen and (min-width: 1000px){
    *{
        padding: 0;
        margin: 0%;
        box-sizing: border-box;
    }
    body{
        display: grid;
        grid-template-columns: 90px (2, 1fr);
        grid-template-rows: 90px 380px 250px 250px;
        padding: 50px 100px 50px 100px;
        row-gap: 25px;
    }
    .row1{
        grid-column: 1/4;
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .row1 .menu{
        display: none;
    }
    .row1 .menu1{
        justify-content: end;
        grid-column: 5/8;
        display: block;
        display: flex;
        gap: 40px;
    }
    .row1 .menu1 a{
        color: black;
        text-decoration: none; 
        transition: transform 0.7s ease;
    }
    .row1 .menu1 a:hover{
        color: hsl(5, 85%, 63%);
        transition: scale(1.0);
    }


    .row2{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .row2 img{
        content: url('image-web-3-desktop.jpg');
        width: 100%;
    }

    .row3{
        grid-row: 3/4;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .row3 .text a{
        font-size: 16px;
    }
    .row3 h1{
        font-size: 45px;
    }
    .row3 .text{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .row3 .text button{
        width: 220px;
        height: 60px;
    }
    .row3 .text button a:hover{
        color: white;
    }
    .row3 .text p{
        font-size: 18px;
        width: 85%;
    }


    .row4{
        grid-row: 2/4;
        grid-column: 3/4;
        padding: 40px;
        gap: 20px;
    }
    .row4 .row4-row1 h2{
        font-size: 40px;
    }
    .row4 .row4-row2{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .row4 .row4-row2 h2{
        font-size: 20px;
    }
    .row4 .row4-row2 p{
        font-size: 18px;
    }
    .row4 .row4-row2 h2:hover{
        color: hsl(35, 77%, 62%);
    }


    .row5{
        display: flex;
        flex-direction: row;
        grid-row: 4/5;
        grid-column: 1/4;
        gap: 0px;
    }
    .row5 .row5-row1:nth-child(1) img{
        height: 86%;
    }
    .row5 .row5-row1:nth-child(3) img{
        height: 92%;
    }
    .row5 .row5-row1 .text{
        gap: 10px;
    }
    .row5 .row5-row1 .text span{
        font-size: 40px;
    }
    .row5 .row5-row1 .text h3{
        font-size: 18px;
    }
    .row5 .row5-row1 .text h3:hover{
        color: hsl(5, 85%, 63%);
    }
    .row5 .row5-row1 .text p{
        font-size: 16px;
    }
}